<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guild.user.mobileapplications">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuildMenu"
            android:label="@string/title_activity_guild_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutMenu"
            android:label="@string/title_activity_about_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsMenu"
            android:label="@string/title_activity_settings_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".guildTaskList"
            android:label="@string/title_activity_guild_task_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginTest"
            android:label="LoginTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register"></activity>
    </application>

</manifest>